@import url("https://fonts.googleapis.com/css?family=Quicksand");
h1{
    font-family: "Quicksand";
    text-align: center;
    color: #001b48;
    font-size: 300%;
    margin: 0;
}
h2{
    font-family: "Quicksand";
    text-align: center;
    color: #02457A;
    font-size: 200%;
}
.lectura{
    font-family: "Quicksand";
    text-align:center;
    font-size: 150%;
    color: #02457A;
}
.design{
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 25em;
    text-align:center;
}
.seleccion{
    text-align: center;
    margin: 10px;
}
.designbutton{
    font-family: "Quicksand";
    border: 0;
    text-align:center;
    background-color: #018ABE;
    color: white;
    line-height: 2.5;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 100%;
}
.designbutton:hover{
    font-family: "Quicksand";
    border: 0;
    text-align:center;
    background-color: #02457A;
    color: white;
    line-height: 2.5;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 100%;
}
.display{
    font-family: "Quicksand";
    text-align:right;
    font-size: 250%;
    margin: 15px;
    color: #001b48;
}
#display2{
    text-decoration: underline;
}
.pseudo{
    font-family: "Quicksand";
    text-align:left;
    font-size: 250%;
    margin: 15px;
    color: #02457A;
}
.carrys{
    font-family: "Quicksand";
    text-align:right;
    font-size: 70%;
    margin: 0px;
    color: #001b48;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #02457a;
}
  
li {
    float: left;
}
  
li a {
    font-family: "Quicksand";
    font-size: 150%;
    display: block;
    color: #d6ebee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #001b48;
}
.textoFBruta { 
    font-family: "Quicksand"; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #018ABE; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 0px 35px 0px 35px; 
    -moz-border-radius: 0px 35px 0px 35px; 
    -webkit-border-radius: 0px 35px 0px 35px; 
    border: 8px double #02457a;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,1);
}
.textoKaratsuba { 
    font-family: "Quicksand"; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #018ABE; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 8px double #02457a;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,1);
}