@import url("https://fonts.googleapis.com/css?family=Quicksand");
h1{
    font-family: "Quicksand";
    text-align: center;
    color: #001b48;
    font-size: 300%;
    margin: 0;
}
h2{
    font-family: "Quicksand";
    text-align: center;
    color: #02457A;
    font-size: 200%;
}
.lectura{
    font-family: "Quicksand";
    text-align:center;
    font-size: 150%;
    color: #02457A;
}
.design{
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 25em;
    text-align:center;
}
.seleccion{
    text-align: center;
    margin: 10px;
}
.designbutton{
    font-family: "Quicksand";
    border: 0;
    text-align:center;
    background-color: #018ABE;
    color: white;
    line-height: 2.5;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 100%;
}
.designbutton:hover{
    font-family: "Quicksand";
    border: 0;
    text-align:center;
    background-color: #02457A;
    color: white;
    line-height: 2.5;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 100%;
}
.display{
    font-family: "Quicksand";
    text-align:right;
    font-size: 250%;
    margin: 15px;
    color: #001b48;
}
#display2{
    text-decoration: underline;
}